<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>索引界面</title>
</head>
<body>
    <h3 style="text-align:center">浏览博客信息</h3>
    <a href="{% url 'main' %}">返回主页</a>
    <center>
    <table width="800" border="1">
        <tr>
            <th>标题</th>
            <th>内容</th>
            <th>操作</th>
        </tr>
        {% for art in articles %}
            <tr>
                <td>{{ art.title }}</td>
                <td>{{art.contentstr}}</td>
                <td>
                    <a href="{% url 'browse' art.id %}">浏览</a>
                </td>
            </tr>
        {% endfor %}
    </table>
</center>
</body>
</html>